*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.rubber {
    box-shadow: 0 0 0 3px rgb(158, 158, 158), 0 0 0 2px rgb(40, 40, 41) inset;  
    border: 2px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 2px;
    line-height: 22px;
    color: rgb(112, 112, 112);
    font-size: 24px; 
    text-transform: uppercase;
    text-align: center;
    opacity: 0.4;
    width: 155px;
    transform: rotate(-20deg);
    position: absolute;
    top: 10%;
    left: 5%;
    
  }

img{
    position: absolute;
    height: 400px;
    left: 31cm;
}

.container{
    height: 100vh;
    width: 100%;

}

.content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    flex-direction: column;
 
    
}

.box{
    background-color: #f8f8f8;
    height: 80%;
    max-height: 100%;
    width: 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

.display{
    width: 60%;
    height: 5%;
    background-color: #efefef;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    cursor: text;
}




.copied{
    height: 5px;
    width: 60%;
    background-color: #efefef;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    cursor: text;
}

.input{
    padding: 20px;
    color: #efefef;
    display: flex;
    width: 80%;
    flex-direction: column-reverse;
    text-align: center;
    
}

#range{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}


label{
    font-size: 30px;
    color: rgb(32, 32, 32);
    box-shadow: 3px 12px 5px -12px rgba(217,198,198,0.75);
    -webkit-box-shadow: 3px 12px 5px -12px rgba(217,198,198,0.75);
    -moz-box-shadow: 3px 12px 5px -12px rgba(217,198,198,0.75);
    font-weight: bolder;
}

h4{
    color: #006400;
}

h5,
h6{
    margin: 20px;
    color: #006400;
    visibility: hidden;
}

h1{
    margin: 20px;
    color: #dadada;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn > button:hover{
    opacity: 0.7;
  
}


.creator{
    margin: 2em 0 0 0;
}

p{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    opacity: .2;
    outline: #363636;
}

small{
    text-align: center;
}


/* Loader */

.loader{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    transition: 5s ease-out;
}
.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner > div {
    background-color: rgba(0,77,255,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }


   iframe{
    display:none;
    transition: all 5s;
   }

   .proc{
    position: relative;
    background: rgb(224,220,220);
    background: linear-gradient(163deg, rgba(224,220,220,1) 10%, rgba(148,148,149,1) 29%, rgba(1,1,1,1) 67%);
    height: 100vh;
    width: 100%;
    display: block;
   }